
.r-bg{
    background-color:#efecde;

}
.cont{
    /* background-color: rgb(185, 195, 204); */
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f-custom{
    flex-wrap: wrap-reverse;
}
.card{
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    border: none;    
    padding: 3rem;
    /* flex-wrap: wrap-reverse; */
}

span{
    font-weight:600;
}
